*~
*.out
*.log
*.aux
*.ps
*/cover.pdf
Holy/HW123456.pdf
Michael/AM1234567.pdf
Virgin/V123456.pdf
Mother/Mother123456.pdf
Shipwreck/MSS.pdf
Shipwreck/notes.pdf
StAnthony/StA1234567.pdf
Presentation/Pres123456.pdf
StLawrence/StLawrence_text.pdf
